																	/* BASE */
body{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto Condensed', sans-serif;
}	
body.modal-open {
    width: 100% !important;
    padding-right: 0 !important;
    overflow-y: scroll !important;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
.form-control:focus,.form-control:active {
   outline: none !important;
   box-shadow: none;
   border-color: #ff6b2b;
}

.no-link{
	color: black;
	text-decoration: none;
}
.no-link:hover{
	color: black;
	text-decoration: none;
}
.no-link:active{
	color: black;
	text-decoration: none;
}
																	/* /base */
																	/* NAVBAR */
.evx-logo{
	margin-left: 15px;

	font-size: 22px;
	color: red;
	letter-spacing: 2px;
}
.evx-logo img{
	height: 50px;
	width: 50px;
}
.evx-nav-menu{
	font-size: 18px;
	height: 100%;
}
.evx-nav-menu .nav-item{
	padding: 0px;
	margin: 0px;
	height: 60px;

	text-align: center;	letter-spacing: 2px;
	font-weight: bolder;
}
.evx-nav-menu .nav-item a{
	padding-top: 15px;
}
.navbar-nav{
	padding: 0px;
	margin: 0px;
}
.evx-nav-menu .nav-item .nav-btn-bg{
	height: 100%;
	/*background-color: #ff6b2b;*/
	background-color: #ff5100;
	/*background: linear-gradient(#ff5100, #ff2200);*/
	text-align: center;
	display: none;
	margin-top: 0px;
	width: 100%;
}
@media (max-width: 767px){
  .evx-nav-menu .nav-item .fas{
    font-size: 23px !important;
    padding: 0px 5px 0px 5px;
  }
  .evx-nav-menu .nav-item .fa-tags{
    font-size: 18px !important;
    padding: 0px 8px 0px 8px
  }
}
.bg-evx-2{
	/*background: linear-gradient(#f71414, #ff6b2b);*/
	background: linear-gradient(#ff2200, #ff5100);
}
.evx-usernav .nav-item{
	padding: 0px;
}
.evx-usernav .nav-item .nav-link{
	font-size: 16px;
	color: white;
}
.evx-usernav .nav-item .nav-link a :hover{
	color: red;
}
																		/* /navbar */
																		/* MODAL */
.evx-modal{
	border-radius: 0px;
	border-width: 0px;
	top: 50px;
}
.evx-modal .modal-content{
	border-radius: 5px; 
	border-width: 0px;
}
.evx-modal .modal-header{
	height: 40px;
	/*background: linear-gradient(#f71414 1%, #ff6b2b 80%);*/
	background: linear-gradient(#ff2200, #ff5100);
	border-radius: 0px; 
	border-width: 0px;
}
.evx-modal .modal-header .modal-title{
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
	margin-top: -10px;
	align-content: center;
}
.evx-modal .modal-header .btn{
	text-shadow: none; 
	color: white; 
	font-size: 20px;
	margin-top: -16px;
	margin-right: -13px;
	align-content: center;
}
.evx-modal .modal-footer{
	padding: 0px;
	margin: 0px;
	height: 40px;
}
.evx-modal .modal-footer .btn{
	margin: 0px;
	border-radius: 0px;
	width: 100%;
	height: 100%;
	border-width: 0px;
	background: white;
	color: black;
	border-bottom: 9px solid white;
}
.evx-modal .modal-footer .evx-modal-btn-o{
	/*background: linear-gradient(#ff6b2b 1%, #f71414 80%);*/
	background: linear-gradient(#ff2200 1%, #ff5100 80%);
}
.evx-modal .modal-footer .col-sm-6{
	padding: 0px;
	margin: 0px;
}
																	/* /modal */
																	/* CONTAINER */
.evx-main-container{
	background: rgb(82,82,82);
	background: radial-gradient(circle, rgba(82,82,82,0.8) 0%, rgba(28,28,28,0.8) 100%);
}
																	/* /container */
																	/* PANELES */
.evx-row-paneles{
  height: 360px;
}
@media (min-width: 992px) and (max-width: 1199px){
  .evx-row-paneles{
    height: 300px;
  }  
}
@media (min-width: 768px) and (max-width: 991px){
  .evx-row-paneles{
    height: 230px;
  }
}
@media (max-width: 767px){
  .evx-row-paneles{
    display: none;
  }
}

.evx-row-paneles .col-sm-4{
	padding: 20px;
}
.evx-row-paneles .col-sm-4 .evx-panel{
	height: 100%;
	width: 100%;
	background: linear-gradient(#f71414 1%, #ff6b2b 80%);
	border-radius: 7px;
}
.evx-row-paneles .p-izq{
	padding-left: 25px;
	padding-right: 15px;
}
.evx-row-paneles .p-der{
	padding-left: 15px;
	padding-right: 25px;
}